<div
  style='font-family: Arial, sans-serif; background-color: #f2f2f2; padding: 20px; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);'
>
  <h1 style='color: #333333; margin-top: 0;'>Verify Email</h1>
  <p style='color: #666666;'>Dear {{firstName}} {{lastName}},</p>
  <p style='color: #666666;'>Thank you for signing up. Please click the button
    below to verify your email address:</p>
  <a
    style='display: inline-block; background-color: #007bff; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;'
    href='{{url}}'
  >Verify Email</a>

  <p style='color: #666666; margin-top: 20px;'>This link is valid for 4
    hours.</p>
</div>